body {

}
#text {
    font-family: 'Angsana New';
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: -280px;
    margin-left: 200px;
    margin-right: 1050px;
    padding: 5px;
}